@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

body {
    color: white;
    background-color: #09040e;
    background-size: 5em 5em;
    background-image: linear-gradient(rgba(255, 254, 255, 0.043) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 254, 255, 0.055) .1em, transparent .1em);
    font-size: large;
}

::-webkit-selection {
    background-color: #C8ACD6;
    color: black;
}

::selection {
    background-color: #C8ACD6;
    color: black;
}

