---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const pageTitle = "Home";
---

<Layout title={pageTitle}>
  <div class="text-3xl my-12 mx-40">
    <h1 class="font-krub font-bold text-5xl">I'm Rhea Prakash</h1>
    <p class="font-incon font-light text-xl text-indigo-100 mt-12">
      As a third-year Computer Science student at the University of Leeds, I’m
      passionate about translating complex problems into elegant code and
      intuitive user experiences. Whether it’s building interactive applications
      with React or diving deep into JavaScript, I’m constantly exploring new
      ways to enhance the digital landscape.
      <br />
      <br />
      When I’m not coding, you’ll often find me immersed in digital art and drawing—creativity
      isn’t just for the web; it’s a way of life. Beyond the screen, I enjoy immersing
      myself in thought-provoking books and losing track of time with the smooth
      rhythms of Pop Rock and specific podcasts. If you’d like to collaborate or
      just chat, I’m always open to connecting :)
    </p>
  </div>
</Layout>
