---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const pageTitle = "Home";
---

<Layout title={pageTitle}>
  <div class="text-3xl my-12 md:mx-40 2xl:mx-60">
    <h1 class="font-krub font-bold text-5xl">Hi, I'm Rhea!</h1>
    <p class="font-incon font-light text-xl text-indigo-100 mt-12">
      As a third year student at the University of Leeds, I am constantly looking for ways to improve my portfolio and explore new technologies. 
      So far, my most challenging and rewarding projects was building a compiler for the JACK language from scratch in C.  
      Currently, I’m working on a serverless architecture project using Azure Functions and FaaS.
      <br />
      <br />
      In my work, I focus on building clean, efficient, and scalable solutions, whether I’m developing 
      web applications or optimizing algorithms. I’m always eager to learn new technologies and take on 
      complex challenges, and my goal is to solve real-world problems through innovative software solutions.

      When I’m not coding, you’ll find me drawing digital art, listening to Chase Atlantic or Sabrina Carpenter, or developing ideas 
      for my next project—be it related to art, technology, or something as specific as cybercrime investigations. 
      <br />
      I have a strong interest in combining creativity with computing, and I love working on projects that push the boundaries of both.
      <br />
      Feel free to explore my portfolio and reach out if you’re interested :)
      

    </p>
  </div>
</Layout>
