---
import { Icon } from "astro-icon/components";


---

<footer class="md:mx-40 2xl:mx-60">
  <div class="flex gap-6">
    <a href="https://www.linkedin.com/in/rp404/" target="_blank">
      <Icon name="mdi:linkedin" size={28}/>
    </a>

    <a href="https://github.com/rheap404" target="_blank">
      <Icon name="mdi:github" size={28} />
    </a>
  </div>
</footer>
