---
import { Icon } from "astro-icon/components";
import "../styles/global.css";

const currentPath = Astro.url.pathname;
const navLinks = [
  { label: "Home", href: "/" },
  { label: "Projects", href: "/projects" },
  { label: "Skills", href: "/skills" },
];
---

<header class="font-darker font-light text-2xl">
  
  <div class="flex justify-between items-center">


    <a href="/">
      <Icon name="meteocons:star-fill" size={80}/>
    </a>
    
    <div class="md:hidden cursor-pointer flex flex-col gap-[5px]" id="menu-btn">
      <span class="line block w-10 h-1 bg-violet-300"></span>
      <span class="line block w-10 h-1 bg-violet-300"></span>
      <span class="line block w-10 h-1 bg-violet-300"></span>
    </div>

    <nav class="hidden md:flex gap-10" id="nav-links">
      {navLinks.map((link) => <a href={link.href}>{link.label}</a>)}
    </nav>
  </div>

  <nav class="flex-col items-end gap-4 mt-4 hidden md:hidden" id="mobile-nav">
    {navLinks.map((link) => <a href={link.href} class="flex">{link.label}</a>)}
  </nav>


</header>

<script type="module" is:inline>
  function mobileHamburger() {
    const menuBtn = document.getElementById('menu-btn');
    const mobileNav = document.getElementById('mobile-nav');

    menuBtn?.addEventListener('click', () => {
      mobileNav?.classList.toggle('hidden');
      mobileNav?.classList.add('flex');
    });
  }

  mobileHamburger();
  document.addEventListener("astro:before-swap", mobileHamburger);
  document.addEventListener("astro:after-swap", mobileHamburger);
</script>

