---
import Header from "../components/Header.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <ViewTransitions />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="mx-10 md:mx-28 my-16 2xl:mx-60">
    <Header />
    <slot />
  </body>
</html>
